# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [29]:
create table JunkDB_STL_May2023.lakshmim.planned_makes(
    Id int not NULL,
    Name  varchar (50),
    location varchar(50))

Add three rows to your table that are your planned makes.

In [30]:
insert into  JunkDB_STL_May2023.lakshmim.planned_makes( Id,Name,location) 
values
(1,'john','stl' ),
(2,'dev','dallas'),
(3,'jacob','chicago')

## Update a Row

Change different values in one of your three rows.

In [31]:
update JunkDB_STL_May2023.lakshmim.planned_makes 
set Name='samnn'
where Id=2;
select * from JunkDB_STL_May2023.lakshmim.planned_makes

Id,Name,location
1,john,stl
2,samnn,dallas
3,jacob,chicago

## Delete a Row

Delete one of the rows from your table.

In [32]:
delete from JunkDB_STL_May2023.lakshmim.planned_makes 
where Name='john';
select * from JunkDB_STL_May2023.lakshmim.planned_makes

Id,Name,location
2,samnn,dallas
3,jacob,chicago

## Drop the Table

While this has been fun, it is time to drop the table!

In [33]:
drop table JunkDB_STL_May2023.lakshmim.planned_makes;